@{
    ViewBag.Subtitulo ="Página Principal";
    }

<div class=" w-[70%] shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] mx-auto p-[30px] my-[20px] text-justify hover:bg-gray-100">

<h1 class="text-bold font-mono  ">Bem Vindo ao <b>Estoque Web</b></h1>
<hr>
<p class="text-bold font-serif text-gray-600">
    Essa aplicação permite o gerenciamento do estoque de produtos. 
    Utilize a barra de navegação superior para acessar os recursos da aplicação!
</p>
</div>

